@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>SOS Alert App</h1>
</div>
<div class="row"></div>
<div class="col-md-4">
	<h2>Welcome to SOS Alert App</h2>
    <p>SOS Alert App is a web app for emergencies. You can add contacts and in a situation of danger you can press the SOS bottom,
       that will inmediately send a SOS message to your contacts in addition to your location.</p>
</div>
