@{
    ViewData["Title"] = "Página de Inicio";
}
<div class="text-center">
    <h1>SOS Alert App</h1>
</div>
<div class="row"></div>
<div class="col-md-4">
    <h2>Bienvenido a SOS Alert App</h2>
    <p>
        SOS Alert App es tu compañero de seguridad personal las 24 horas. Diseñada para situaciones de emergencia,
        esta aplicación web te permite gestionar una lista de contactos de confianza y, con solo presionar el botón SOS,
        enviar automáticamente un mensaje de alerta junto con tu ubicación exacta a todas las personas que has designado
        como tus contactos de emergencia. Tu seguridad es nuestra prioridad, y con SOS Alert App, la ayuda estará
        siempre a un toque de distancia.
    </p>
</div>
